# SkilHarvest Data Science Track

## First Assignment By Umar Muhammed Abubakar
### Email: U.m.abubakar16@gmail.com

### Question: write 10 different examples of each of the Python operators

### 1. Assignment

In [1]:
x = 10
print("x =", x)


y = 5
print("y =", y)


z = x + y
print("z =", z)


a = 2 ** 3
print("a =", a)


b = 15 / 3
print("b =", b)


result = 5 + 7
print("result =", result)


value = 10 * 2
print("value =", value)


text = "Hello, " + "World!"
print("text =", text)


count = 0
count += 1
print("count =", count)


total = 20
total -= 5
print("total =", total)

x = 10
y = 5
z = 15
a = 8
b = 5.0
result = 12
value = 20
text = Hello, World!
count = 1
total = 15

### 2. Modulus (%)

In [2]:
print("15 % 7 =", 15 % 7)
print("23 % 4 =", 23 % 4)
print("10 % 3 =", 10 % 3)
print("18 % 5 =", 18 % 5)
print("30 % 8 =", 30 % 8)
print("42 % 9 =", 42 % 9)
print("16 % 6 =", 16 % 6)
print("25 % 2 =", 25 % 2)
print("11 % 4 =", 11 % 4)
print("36 % 10 =", 36 % 10)

15 % 7 = 1
23 % 4 = 3
10 % 3 = 1
18 % 5 = 3
30 % 8 = 6
42 % 9 = 6
16 % 6 = 4
25 % 2 = 1
11 % 4 = 3
36 % 10 = 6

### 3. Addition (+)

In [3]:
print("5 + 3 =", 5 + 3)
print("12 + 7 =", 12 + 7)
print("20 + 18 =", 20 + 18)
print("15 + 25 =", 15 + 25)
print("8 + 13 =", 8 + 13)
print("42 + 11 =", 42 + 11)
print("30 + 45 =", 30 + 45)
print("16 + 4 =", 16 + 4)
print("22 + 36 =", 22 + 36)
print("10 + 50 =", 10 + 50)

5 + 3 = 8
12 + 7 = 19
20 + 18 = 38
15 + 25 = 40
8 + 13 = 21
42 + 11 = 53
30 + 45 = 75
16 + 4 = 20
22 + 36 = 58
10 + 50 = 60

### 4. Division (/)

In [4]:
print("15 / 3 =", 15 / 3)
print("28 / 4 =", 28 / 4)
print("10 / 2 =", 10 / 2)
print("18 / 6 =", 18 / 6)
print("30 / 5 =", 30 / 5)
print("42 / 7 =", 42 / 7)
print("16 / 8 =", 16 / 8)
print("25 / 5 =", 25 / 5)
print("11 / 3 =", 11 / 3)
print("36 / 9 =", 36 / 9)

15 / 3 = 5.0
28 / 4 = 7.0
10 / 2 = 5.0
18 / 6 = 3.0
30 / 5 = 6.0
42 / 7 = 6.0
16 / 8 = 2.0
25 / 5 = 5.0
11 / 3 = 3.6666666666666665
36 / 9 = 4.0

### 5. Subtraction (-)

In [5]:
print("10 - 3 =", 10 - 3)
print("24 - 8 =", 24 - 8)
print("15 - 5 =", 15 - 5)
print("18 - 10 =", 18 - 10)
print("30 - 12 =", 30 - 12)
print("42 - 20 =", 42 - 20)
print("16 - 6 =", 16 - 6)
print("25 - 9 =", 25 - 9)
print("11 - 4 =", 11 - 4)
print("36 - 18 =", 36 - 18)

10 - 3 = 7
24 - 8 = 16
15 - 5 = 10
18 - 10 = 8
30 - 12 = 18
42 - 20 = 22
16 - 6 = 10
25 - 9 = 16
11 - 4 = 7
36 - 18 = 18

In [ ]:
### 6. Multiplication (*)

### 6. Power of (**)

In [6]:
print("2 ** 3 =", 2 ** 3)
print("5 ** 2 =", 5 ** 2)
print("4 ** 3 =", 4 ** 3)
print("3 ** 4 =", 3 ** 4)
print("2 ** 5 =", 2 ** 5)
print("10 ** 2 =", 10 ** 2)
print("6 ** 3 =", 6 ** 3)
print("2 ** 4 =", 2 ** 4)
print("7 ** 2 =", 7 ** 2)
print("8 ** 3 =", 8 ** 3)

2 ** 3 = 8
5 ** 2 = 25
4 ** 3 = 64
3 ** 4 = 81
2 ** 5 = 32
10 ** 2 = 100
6 ** 3 = 216
2 ** 4 = 16
7 ** 2 = 49
8 ** 3 = 512

### 7. Floor (//)

In [7]:
print("15 // 7 =", 15 // 7)
print("23 // 4 =", 23 // 4)
print("10 // 3 =", 10 // 3)
print("18 // 5 =", 18 // 5)
print("30 // 8 =", 30 // 8)
print("42 // 9 =", 42 // 9)
print("16 // 6 =", 16 // 6)
print("25 // 2 =", 25 // 2)
print("11 // 4 =", 11 // 4)
print("36 // 10 =", 36 // 10)

15 // 7 = 2
23 // 4 = 5
10 // 3 = 3
18 // 5 = 3
30 // 8 = 3
42 // 9 = 4
16 // 6 = 2
25 // 2 = 12
11 // 4 = 2
36 // 10 = 3

### 8. Logical Operators

In [8]:
print("True and False =", True and False)
print("True or False =", True or False)
print("not True =", not True)
print("True and True =", True and True)
print("False or True =", False or True)
print("not False =", not False)

True and False = False
True or False = True
not True = False
True and True = True
False or True = True
not False = True

### 9. OR

In [9]:
print("(5 > 3) or (8 < 4) =", (5 > 3) or (8 < 4))
print("(10 == 10) or (15 != 15) =", (10 == 10) or (15 != 15))
print("(20 >= 18) or (25 <= 22) =", (20 >= 18) or (25 <= 22))
print("(True or False) or (False or True) =", (True or False) or (False or True))
print("(5 > 3) or (not (8 < 4)) =", (5 > 3) or (not (8 < 4)))
print("(10 == 10) or (not (15 != 15)) =", (10 == 10) or (not (15 != 15)))
print("(20 >= 18) or (not (25 <= 22)) =", (20 >= 18) or (not (25 <= 22)))
print("(False or False) or (not (False and True)) =", (False or False) or (not (False and True)))
print("(not True) or (not False) =", (not True) or (not False))
print("(False or True) or (True or True) =", (False or True) or (True or True))

(5 > 3) or (8 < 4) = True
(10 == 10) or (15 != 15) = True
(20 >= 18) or (25 <= 22) = True
(True or False) or (False or True) = True
(5 > 3) or (not (8 < 4)) = True
(10 == 10) or (not (15 != 15)) = True
(20 >= 18) or (not (25 <= 22)) = True
(False or False) or (not (False and True)) = True
(not True) or (not False) = True
(False or True) or (True or True) = True

### 10. AND

In [10]:
print("(5 > 3) and (8 < 4) =", (5 > 3) and (8 < 4))
print("(10 == 10) and (15 != 15) =", (10 == 10) and (15 != 15))
print("(20 >= 18) and (25 <= 22) =", (20 >= 18) and (25 <= 22))
print("(True and False) and (False and True) =", (True and False) and (False and True))
print("(5 > 3) and (not (8 < 4)) =", (5 > 3) and (not (8 < 4)))
print("(10 == 10) and (not (15 != 15)) =", (10 == 10) and (not (15 != 15)))
print("(20 >= 18) and (not (25 <= 22)) =", (20 >= 18) and (not (25 <= 22)))
print("(True and True) and (not (False or True)) =", (True and True) and (not (False or True)))
print("(not True) and (not False) =", (not True) and (not False))
print("(False and True) and (True and True) =", (False and True) and (True and True))

(5 > 3) and (8 < 4) = False
(10 == 10) and (15 != 15) = False
(20 >= 18) and (25 <= 22) = False
(True and False) and (False and True) = False
(5 > 3) and (not (8 < 4)) = True
(10 == 10) and (not (15 != 15)) = True
(20 >= 18) and (not (25 <= 22)) = True
(True and True) and (not (False or True)) = False
(not True) and (not False) = False
(False and True) and (True and True) = False

### 11. NOT

In [11]:
print("not (5 > 3) =", not (5 > 3))
print("not (10 == 10) =", not (10 == 10))
print("not (20 >= 18) =", not (20 >= 18))
print("not (True and False) =", not (True and False))
print("not (5 > 3) and (8 < 4) =", not (5 > 3) and (8 < 4))
print("not (10 == 10) and (15 != 15) =", not (10 == 10) and (15 != 15))
print("not (20 >= 18) and (25 <= 22) =", not (20 >= 18) and (25 <= 22))
print("not (True or False) and (False or True) =", not (True or False) and (False or True))
print("not (5 > 3) or (not (8 < 4)) =", not (5 > 3) or (not (8 < 4)))
print("not (10 == 10) or (not (15 != 15)) =", not (10 == 10) or (not (15 != 15)))

not (5 > 3) = False
not (10 == 10) = False
not (20 >= 18) = False
not (True and False) = True
not (5 > 3) and (8 < 4) = False
not (10 == 10) and (15 != 15) = False
not (20 >= 18) and (25 <= 22) = False
not (True or False) and (False or True) = False
not (5 > 3) or (not (8 < 4)) = True
not (10 == 10) or (not (15 != 15)) = True

### 12. in

In [12]:
print("5 in [1, 2, 3, 4, 5] =", 5 in [1, 2, 3, 4, 5])
print("'cat' in 'category' =", 'cat' in 'category')
print("10 in [1, 2, 3, 4, 5] =", 10 in [1, 2, 3, 4, 5])
print("15 in [1, 2, 3, 4, 5] =", 15 in [1, 2, 3, 4, 5])
print("'orange' in ['apple', 'banana', 'orange'] =", 'orange' in ['apple', 'banana', 'orange'])
print("'dog' in 'category' =", 'dog' in 'category')
print("'elephant' in ['lion', 'tiger', 'zebra'] =", 'elephant' in ['lion', 'tiger', 'zebra'])
print("7 in [2, 4, 6, 8, 10] =", 7 in [2, 4, 6, 8, 10])
print("'apple' in ['orange', 'banana', 'mango'] =", 'apple' in ['orange', 'banana', 'mango'])
print("'car' in 'race' =", 'car' in 'race')

5 in [1, 2, 3, 4, 5] = True
'cat' in 'category' = True
10 in [1, 2, 3, 4, 5] = False
15 in [1, 2, 3, 4, 5] = False
'orange' in ['apple', 'banana', 'orange'] = True
'dog' in 'category' = False
'elephant' in ['lion', 'tiger', 'zebra'] = False
7 in [2, 4, 6, 8, 10] = False
'apple' in ['orange', 'banana', 'mango'] = False
'car' in 'race' = False

### 13. Greater than

In [13]:
print("8 > 5 =", 8 > 5)
print("15 > 20 =", 15 > 20)
print("10 > 5 =", 10 > 5)
print("25 > 25 =", 25 > 25)
print("50 > 40 =", 50 > 40)
print("18 > 12 =", 18 > 12)
print("7 > 10 =", 7 > 10)
print("30 > 30 =", 30 > 30)
print("40 > 35 =", 40 > 35)
print("20 > 22 =", 20 > 22)

8 > 5 = True
15 > 20 = False
10 > 5 = True
25 > 25 = False
50 > 40 = True
18 > 12 = True
7 > 10 = False
30 > 30 = False
40 > 35 = True
20 > 22 = False

### 14. Less than

In [14]:
print("8 < 5 =", 8 < 5)
print("15 < 20 =", 15 < 20)
print("10 < 5 =", 10 < 5)
print("25 < 25 =", 25 < 25)
print("50 < 40 =", 50 < 40)
print("18 < 12 =", 18 < 12)
print("7 < 10 =", 7 < 10)
print("30 < 30 =", 30 < 30)
print("40 < 35 =", 40 < 35)
print("20 < 22 =", 20 < 22)

8 < 5 = False
15 < 20 = True
10 < 5 = False
25 < 25 = False
50 < 40 = False
18 < 12 = False
7 < 10 = True
30 < 30 = False
40 < 35 = False
20 < 22 = True

### 15. Not equal to

In [15]:
print("5 != 3 =", 5 != 3)
print("10 != 10 =", 10 != 10)
print("15 != 20 =", 15 != 20)
print("25 != 25 =", 25 != 25)
print("50 != 50 =", 50 != 50)
print("18 != 18 =", 18 != 18)
print("7 != 7 =", 7 != 7)
print("30 != 30 =", 30 != 30)
print("40 != 40 =", 40 != 40)
print("20 != 22 =", 20 != 22)

5 != 3 = True
10 != 10 = False
15 != 20 = True
25 != 25 = False
50 != 50 = False
18 != 18 = False
7 != 7 = False
30 != 30 = False
40 != 40 = False
20 != 22 = True

### 16. Equal to

In [16]:
print("5 == 3 =", 5 == 3)
print("10 == 10 =", 10 == 10)
print("15 == 20 =", 15 == 20)
print("25 == 25 =", 25 == 25)
print("50 == 50 =", 50 == 50)
print("18 == 18 =", 18 == 18)
print("7 == 7 =", 7 == 7)
print("30 == 30 =", 30 == 30)
print("40 == 40 =", 40 == 40)
print("20 == 22 =", 20 == 22)

5 == 3 = False
10 == 10 = True
15 == 20 = False
25 == 25 = True
50 == 50 = True
18 == 18 = True
7 == 7 = True
30 == 30 = True
40 == 40 = True
20 == 22 = False

### 17. Greater than or equal to

In [17]:
print("8 >= 5 =", 8 >= 5)
print("15 >= 15 =", 15 >= 15)
print("10 >= 5 =", 10 >= 5)
print("25 >= 25 =", 25 >= 25)
print("50 >= 40 =", 50 >= 40)
print("18 >= 18 =", 18 >= 18)
print("7 >= 10 =", 7 >= 10)
print("30 >= 30 =", 30 >= 30)
print("40 >= 35 =", 40 >= 35)
print("20 >= 22 =", 20 >= 22)

8 >= 5 = True
15 >= 15 = True
10 >= 5 = True
25 >= 25 = True
50 >= 40 = True
18 >= 18 = True
7 >= 10 = False
30 >= 30 = True
40 >= 35 = True
20 >= 22 = False

### 18. Less than or equal to

In [18]:
print("8 <= 5 =", 8 <= 5)
print("15 <= 20 =", 15 <= 20)
print("10 <= 15 =", 10 <= 15)
print("25 <= 25 =", 25 <= 25)
print("50 <= 40 =", 50 <= 40)
print("18 <= 18 =", 18 <= 18)
print("7 <= 10 =", 7 <= 10)
print("30 <= 30 =", 30 <= 30)
print("40 <= 35 =", 40 <= 35)
print("20 <= 22 =", 20 <= 22)

8 <= 5 = False
15 <= 20 = True
10 <= 15 = True
25 <= 25 = True
50 <= 40 = False
18 <= 18 = True
7 <= 10 = True
30 <= 30 = True
40 <= 35 = False
20 <= 22 = True